<%- include("header"); -%>

    <div class="box" id="heading">
        
        <h1> <%= ListTitle %> </h1>

        <h1> <%=name %>'s to do list</h1>
        
    </div>
       
    
        <div class="box">



            <% for(var i=0;i<item_to_show.length;i++){  %>

                <form action="/delete" method="POST">

                    <div class="item">
                        <input name="checkbox" value="<%= item_to_show[i]._id %>" type="checkbox" onclick="this.form.submit()">
                        <input type="hidden" name="ListName" value="<%= ListTitle %>">
                        <p><%=item_to_show[i].name%></p>
    
                    </div>
                </form>
                
            <% } %>

            <div>
                <form action="/" method='post'>
        
                    <input type="text" name="item_to_add" placeholder="add items !" autocomplete="off">
        
                    <input type="text" name="fname" placeholder="Name">
        
                    <button type="submit" name="list" value="<%= ListTitle %>>+</button>
                </form>
            </div>

        </div>
        
         
        
        
        <%- include("footer"); -%>
        
